*.patch
*.orig
*~
\#*#
*.[oa]
*.ko
*.cmd
*.symvers
*.builtin
*.order
*.mod
*.mod.c
*.html
modules.order
/debian/debhelper-build-stamp
/debian/files
/debian/install
/debian/xeth-dkms.debhelper.log
/debian/xeth-dkms.dkms.debhelper
/debian/xeth-dkms.postinst.debhelper
/debian/xeth-dkms.prerm.debhelper
/debian/xeth-dkms.substvars
/debian/xeth-dkms/
/dkms/xeth_version.mk
