*.patch
*.orig
*~
\#*#
*.[oa]
*.ko
*.cmd
*.symvers
*.builtin
*.order
*.mod
*.mod.c
/debian/debhelper-build-stamp
/debian/files
/debian/xeth.debhelper.log
/debian/xeth.dkms.debhelper
/debian/xeth.postinst.debhelper
/debian/xeth.prerm.debhelper
/debian/xeth.substvars
/debian/xeth/
/src/modules.order
