*.patch
*.orig
*~
\#*#
/README.html
/debian/debhelper-build-stamp
/debian/files
/debian/install
/debian/xeth-dkms.debhelper.log
/debian/xeth-dkms.dkms.debhelper
/debian/xeth-dkms.postinst.debhelper
/debian/xeth-dkms.prerm.debhelper
/debian/xeth-dkms.substvars
/debian/xeth-dkms/
/dkms/*.cmd
/dkms/*.[oa]
/dkms/*.ko
/dkms/Module.symvers
/dkms/modules.order
/dkms/xeth.mod
/dkms/xeth.mod.c
/dkms/xeth_version.mk
/go/xeth/_obj/
/sample-xeth-switchd
/go/sample-xeth-switchd/sample-xeth-switchd
